.map-container{
    position: absolute;
    height: 100vh;
    width: 100vw;
    // transform: translateX(-25vw);
    background: $pacific-blue;
    @include column-center-flex;
    justify-content: space-between;
    z-index: 0;
}
.map{
    position: relative;
    height: 100vh;
    width: 100vw;
    z-index: 98;
}
.map-search{
    margin: 2rem;
    position: absolute;
    z-index: 99;
    &__label{
        color: $light;
        text-align: center;
        width: 100%;
    }
}
.search-bar{
    height: 5rem;
    width: 50rem;
    background: $light;
    display: flex;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 5rem;
    @include dark-border;
    z-index: 99;
    &__search{
        height: 100%;
        width: 100%;
        border: none;
        background: none;
    }
    &__btn{
        min-height: 3rem;
        min-width: 3rem;
        margin-left: 2rem;
        border-radius: 100%;
        @include dark-border;
    }
}
.results{
    position: absolute;
    width: 10rem;
    height: 7rem;
    padding: 1rem;
    background: $light;
    @include dark-border;
    @include column-center-flex;
    border-radius: 2rem 2rem 0rem 0rem;
    position: absolute;
    bottom: 0%;
    left: 62.5vw;
    z-index: 99;
    &__label{
        text-align: center;
    }
}

.content{
    height: 30rem;
    width: 30rem;
    @include column-center-flex;
    &__body{
        @include column-center-flex;
    }
    &__img{
        min-width: 10rem;
        min-height: 10rem;
        max-height: 20rem;
        max-width: 20rem;
        object-fit: fill;
    }
}