* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    font-size: 65.5%;
}

input:focus-visible{
    outline: none;
}

// remove dotted outline on pressed buttons
button:focus{
    outline: 0;
}

@font-face {
    font-family: National;
    src:  url('../fonts/national-light.otf');
    font-weight: 300;
}

@font-face {
    font-family: National;
    src:  url('../fonts/national-regular.otf');
    font-weight: 400;
}

@font-face {
    font-family: National;
    src:  url('../fonts/national-medium.otf');
    font-weight: 500;
}

body{
    overflow: hidden;
    font-family: National;
    font-weight: 300;
}

img{
    background-size: cover;
}