// media queries
$mobile: "only screen and (max-width: 480px)";
$tablet: "only screen and (min-width: 481px) and (max-width: 810px)";
$desktop: "only screen and (min-width: 811px)";

// colors
$dark: #000000;
$light: #ffffff;
$pacific-blue: #00A0D6;